<head>
  <meta charset="UTF-8">
  <title><%= yield(:title) || '' %></title>
  <%= javascript_include_tag 'ruby_stats.js' %>
  <%= csrf_meta_tag %>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
  <%= yield(:head) %>
</head>